#contact-style-input p {
    margin-top: 1.5rem; 
    color: #aab7c4;
}

#contact-style-input input {
    border-color: dodgerblue;
    border-radius: 5px;
}


#contact-style-input input::placeholder {
    color: #6c757d;
}

.contact-details-wrapper {

    display:flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;

}
/* 
#contact-header {
    align-self: flex-start;
    width:100%;

} */