{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container home-wrapper h-100">    
    <div class="row h-100">
        <div class="col-12 col-lg-8 offset-lg-4 text-center text-lg-right my-auto ">
            
            <h2 class="display-4 logo-font text-white ">
                Welcome to OFF PISTE Skishop
            </h2>
            <h3 class="callout-font text-white">
                Freedom is Fresh Powder!
            </h3>
        </div>
        <div class="col-12">
        <div class="card card-shopnow text-center text-white bg-transparent mx-auto float-lg-right">
            <div class="card-body text-uppercase">
                <h4 class="card-title">Shop Now!</h4>
                <a href="#" class="btn btn-shopnow rounded-0 text-white border-white">MEN</a>
                <a href="#" class="btn btn-shopnow rounded-0 text-white border-white">WOMEN</a>
                <a href="#" class="btn btn-shopnow rounded-0 text-white border-white">KIDS</a>       
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}