{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container h-100">    
    <div class="row h-100">
        <div class="col-8 offset-4 my-auto text-right">
            <h1 class=" logo-font text-white ">
                Welcome to OFF PISTE Skishop
            </h1>
            <h2 class=" logo-font text-white">
                Freedom is Fresh Powder
            </h2>
        </div>
        <div class="col-4 offset-6 bg-black">
            <h3 class="text-white text-right">
                Shop Now
            </h3>
        </div>
    </div>
</div>
{% endblock %}