{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <button class="btn btn-blue rounded text-uppercase w-100 my-1">Update Information</button>
                        </div>
                        <div class="col-12 col-md-6">
                            <a class="btn btn-outline-blue rounded text-uppercase w-100 my-1" href="{% url 'home' %}">Back to Homepage</a>
                        </div> 
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead class="small">
                            <tr>
                                <th class="">Order No.</th>
                                <th class="w-25">Date</th>
                                <th class="w-50">Items</th>
                                <th class="">Ord. Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td >
                                        <a class="small text-dark font-weight-bold" href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:8 }}
                                        </a>
                                    </td>
                                    <td class="small">{{ order.date|truncatechars:20 }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{ item.product.size|upper }}
                                                    {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td class="small font-weight-bold">€{{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        let countrySelected = $('#id_default_country').val();
        if (!countrySelected) {
            $('#id_default_country').css('color', '#aab7c4');
        };
        $('#id_default_country').change(function () {
            countrySelected = $(this).val();
            if (!countrySelected) {
                $(this).css('color', '#aab7c4');
            } else {
                $(this).css('color', '#6c757d').css('font-weight', 'bold');
            }
        });
    </script>
{% endblock %}