#profile-update-form p {
    margin-top: 1.5rem; 
    color: #aab7c4;
}

#profile-update-form input {
    border-color: dodgerblue;
    border-radius: 5px;
}


#profile-update-form input::placeholder {
    color: #6c757d;
}


#id_default_country,
#id_default_country option:not(:first-child) {
    color: #6c757d;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

  
.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}
