html {
    height: 100%;
}

body {
    background: url('/media/landingPage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Roboto';
}

/* Typography */

.text-blue {
    color: dodgerblue !important;
}


.text-lightgrey {
    color: lightgrey !important;
}


.bg-blue {
    background-color: dodgerblue;
}

.bg-black {
    background-color: black;
}


/* Navbar  */

/* Searchbox */

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 0;
}

.searchbar:hover {
    border: solid 1px;
    border-color: dodgerblue;
    transition: width 0.1s linear;
}
.search_input{
    color: white;
    border: 0;
    border-radius: 20px;
    outline: 0;
    background: none;
    width: 0;
    transition: width 0.1s linear;
}

.searchbar:hover > .search_input{
    caret-color:dodgerblue;
    transition: width 0.1s linear;
}

.searchbar:hover > .search_icon{
    background: dodgerblue;
    color: white;
}

.search_icon{
    border-radius: 50%;
    color:dodgerblue;
    text-decoration:none;
}

.admin-nav  {
    color: lightgrey;
}

.admin-nav:hover {
    color: dodgerblue;
}
