
html {
    height: 100%;
}

body {
    background: url('/media/landingPage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 217px);
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.header-container {
        padding-top: 140px;
    }


/* Page Overlay for secondary templates */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


/* Typography */

.text-gold {
    color: palegoldenrod;
}

.text-metallic-gold {
    color: #D4AF37;
}
.text-blue {
    color: dodgerblue !important;
}
.text-blueshark {
    color: #6996AD !important;
}


.text-lightgrey {
    color: lightgrey !important;
}


/* Borders */

.border-lightgrey {
    border-color: lightgrey !important;
}

.border-blue {
    border-color: dodgerblue !important;
    border-radius: 10px 10px 0 0;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* background color */

.bg-blue {
    background-color: dodgerblue;
}

.bg-black {
    background-color: black;
}


/* Top Navbar  */


.admin-nav  {
    color: lightgrey;
}

.admin-nav:hover {
    color: dodgerblue;
}


/* Desktop Searchbox */

.desktop-searchbar{
    margin-bottom: auto;
    margin-top: auto;
    background-color: rgba(30, 143, 255, 0.63);
    border-radius: 20px;
    padding: 0;
}

.desktop-searchbar input::placeholder {
    color: #6c757d;
}

.desktop-searchbar p {
    color: #aab7c4;
}


.desktop-searchbar:hover {
    border: solid 1px;
    border-color: dodgerblue;
    transition: width 0.1s linear;
}

.desktop-search-input{    
    border: 0;
    border-radius: 20px;
    outline: 0;
    background: none;
    width: 0;
    transition: width 1.5s linear;
}


.desktop-searchbar:hover .desktop-search-icon{
    background: dodgerblue;
    color: white !important;
}

.desktop-search-icon:hover {
    background-color: rgba(30, 143, 255, 0.63);
    color: white;
}

.desktop-search-icon{
    border-radius: 50%;
    color:dodgerblue;
    text-decoration:none;
}


/* Mobile Search */

#btn-mob-search {
    margin-top: 4px !important;
    background-color: dodgerblue;
    color: white !important;
    /* transition: width 0s linear; */
}


#btn-mob-search:hover {
    background-color: white;
    color: dodgerblue;
    /* transition: width 0s linear; */
}

/* Mobile Searchbox */

.mob-searchbar {
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: rgba(243, 247, 250, 0.5);
    border-radius: 30px;
    padding: 0;
}

.mob-searchbar:hover {
    background-color: rgba(243, 247, 250, 0.8); 
    transition: width 0.1s linear;
}

.mob-searchbar input::placeholder {
    color: #6c757d;
}

.mob-searchbar p {
    color: #aab7c4;
}


.mob-search-input{
    border: 0;
    border-radius: 20px;
    outline: 0;
    background: none;
    width: 0;
    transition: width 1.5s linear;
}

.mob-search-icon{
    border-radius: 50%;
    color:dodgerblue;
    text-decoration:none;
}


/* Tab Menu */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: dodgerblue;
    border-color: dodgerblue;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

.header-container {
        padding-top: 203px;
    }
    
    .mainnav-font {
        
        color: white !important;
        background-color: dodgerblue !important;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #aab7c4; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: dodgerblue;
    border-radius: 5px;
}


.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #6c757d;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px ;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: blue;
    border-color: blue;
}

.allauth-form-inner-content button:focus {
    border-color: lightblue !important;
    outline: none !important;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Customised Button Themes */

.btn-outline-blue {
    background: white;
    color: dodgerblue !important; /* use important to override link colors for <a> elements */
    border: 1px solid dodgerblue;
}

.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus {
    background: dodgerblue;
    color: white !important;
}

.btn-blue {
    background: dodgerblue;
    color: white !important; 
    border: 1px solid dodgerblue;
    border-radius: 5px;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: blue;
    border-color: blue;
    color: white !important;
}


/* Bootstrap Toasts styles */

.message-container {
    position: fixed;
    top: 120px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}
