/* .navbar-expand-lg {
 margin-left: 0 !important;
 padding-left: 0 !important;

} */

html {
    height: 100%;
}

body {
    background: url('/media/landingPage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 217px);
    color: #555;
    font-family: 'Roboto';
}

.header-container {
        padding-top: 140px;
    }


/* Page Overlay for secondary templates */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


/* Typography */

.text-blue {
    color: dodgerblue !important;
}


.text-lightgrey {
    color: lightgrey !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* background color */

.bg-blue {
    background-color: dodgerblue;
}

.bg-black {
    background-color: black;
}




/* Top Navbar  */


.admin-nav  {
    color: lightgrey;
}

.admin-nav:hover {
    color: dodgerblue;
}





/* Desktop Searchbox */

.desktop-searchbar{
    margin-bottom: auto;
    margin-top: auto;
    background-color: rgba(30, 144, 255, 0.2);
    border-radius: 20px;
    padding: 0;
}

.desktop-searchbar:hover {
    border: solid 1px;
    border-color: dodgerblue;
    transition: width 0.1s linear;
}

.desktop-search-input{
    color: white;
    border: 0;
    border-radius: 20px;
    outline: 0;
    background: none;
    width: 0;
    transition: width 1.5s linear;
}


.desktop-searchbar:hover > .desktop-search-icon{
    background: dodgerblue;
    color: white;
}

.desktop-search-icon{
    border-radius: 50%;
    color:dodgerblue;
    text-decoration:none;
}


/* Mobile Search */

#btn-mob-search {
    margin-top: 4px !important;
    background-color: dodgerblue;
    color: white;
    transition: width 1.5s linear;
}

#btn-mob-search:hover {
    background-color: white;
    color: dodgerblue;
    transition: width 1.5s linear;
}

/* Mobile Searchbox */

.mob-searchbar{
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: rgba(243, 247, 250, 0.5);
    border-radius: 30px;
    padding: 0;
}

.mob-searchbar:hover {
    background-color: rgba(243, 247, 250, 0.8);
    transition: width 0.1s linear;
}

.mob-search-input{
    color: white;
    border: 0;
    border-radius: 20px;
    outline: 0;
    background: none;
    width: 0;
    transition: width 1.5s linear;
}

.mob-search-icon{
    border-radius: 50%;
    color:dodgerblue;
    text-decoration:none;
}


/* Tab Menu */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: dodgerblue;
    border-color: dodgerblue;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

.header-container {
        padding-top: 203px;
    }
    
    .mainnav-font {
        
        color: white !important;
        background-color: dodgerblue !important;
    }
}