/* Change Carousel Indicators to circles */

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.product-tab-wrapper {
    border-color: lightgrey;
    border-radius: 10px;
    /* padding: 0 0; */
}

.product-tab-content {
    /* margin-left: 20px !important;
    margin-right: 20px !important; */
}

a.category-badge > span.badge:hover {
    background: dodgerblue !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

.btt-link:hover i {
    color: blue !important;
}

