<div class="collapse navbar-collapse row " id="main-nav">
    <div class="col-12 d-flex align-items-center">
        <ul class="nav nav-tabs w-auto mx-auto  ">
            <li class="nav-item">
                <a class="nav-link active" href="#">MEN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">WOMEN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">KIDS</a>
            </li>
        </ul>
    </div>
    <div class="col-12 bg-blue d-flex align-items-center">
        <ul class="navbar-nav w-auto mx-auto ">
            <li class="nav-item dropdown ">
                <a class="logo-font font-weight-bold nav-link text-white mr-5 text-uppercase" href="#" id="all-products-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter Products
                </a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="all-products-link">
                    <a href="" class="dropdown-item">By Price</a>
                    <a href="" class="dropdown-item ">By Rating</a>
                    <a href="" class="dropdown-item ">By Category</a>
                    <a href="" class="dropdown-item">All Products</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-white mr-5 text-uppercase" href="#" id="snowboard-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Snowboard
                </a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="snowboard-link">
                    <a href="" class="dropdown-item">Snowboards</a>
                    <a href="" class="dropdown-item">Snowboard Boots</a>
                    <a href="" class="dropdown-item">Snowboard Bindings</a>
                    <a href="" class="dropdown-item">Snowboard Bags</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-white mr-5 text-uppercase" href="#" id="freeski-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Freeski
                </a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="freeski-link">
                    <a href="" class="dropdown-item">Freeski</a>
                    <a href="" class="dropdown-item">Ski Boots</a>
                    <a href="" class="dropdown-item">Ski Bindings</a>
                    <a href="" class="dropdown-item">Ski Poles</a>
                    <a href="" class="dropdown-item">Ski Bags</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-white mr-5 text-uppercase" href="#" id="skiwear-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ski Wear
                </a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="skiwear-link">
                    <a href="" class="dropdown-item">Jackets</a>
                    <a href="" class="dropdown-item">Pants</a>
                    <a href="" class="dropdown-item">Base Layer</a>
                    <a href="" class="dropdown-item">Hats</a>
                    <a href="" class="dropdown-item">Gloves</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-white mr-5 text-uppercase" href="#" id="accessories-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accessories
                </a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="accessories-link">
                    <a href="" class="dropdown-item">Helmets</a>
                    <a href="" class="dropdown-item">Goggles</a>
                    <a href="" class="dropdown-item">Bags</a>
                    <a href="" class="dropdown-item">Tools</a>
                </div>
            </li>
        </ul>
    </div>
</div>