<div class="collapse navbar-collapse row" id="main-nav">
    <div class="col-12 d-lg-flex">
        <ul class="nav nav-tabs w-auto mx-auto  ">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="#">ALL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MEN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">WOMEN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">KIDS</a>
            </li>
        </ul>
    </div>
    <div class="col-12 mainnav-font bg-white d-lg-flex ">
        <ul class="navbar-nav w-auto mx-auto ">
            <li class="nav-item dropdown  ">
                <a class="mainnav-font font-weight-bold nav-link text-blue mr-5 text-uppercase" href="#" id="all-products-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h6 class="m-0">Filter Products</h6>
                </a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="all-products-link">
                    <a href="" class="dropdown-item text-secondary">By Price</a>
                    <a href="" class="dropdown-item text-secondary">By Rating</a>
                    <a href="" class="dropdown-item text-secondary">By Category</a>
                    <a href="" class="dropdown-item text-secondary">All Products</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="mainnav-font font-weight-bold nav-link text-blue mr-5 text-uppercase" href="#" id="snowboard-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h6 class="m-0">Snowboard</h6>
                </a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="snowboard-link">
                    <a href="" class="dropdown-item text-secondary">Snowboards</a>
                    <a href="" class="dropdown-item text-secondary">Snowboard Boots</a>
                    <a href="" class="dropdown-item text-secondary">Snowboard Bindings</a>
                    <a href="" class="dropdown-item text-secondary">Snowboard Bags</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="mainnav-font font-weight-bold nav-link text-blue mr-5 text-uppercase" href="#" id="freeski-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h6 class="m-0">Freeski</h6>
                </a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="freeski-link">
                    <a href="" class="dropdown-item text-secondary">Freeski</a>
                    <a href="" class="dropdown-item text-secondary">Ski Boots</a>
                    <a href="" class="dropdown-item text-secondary">Ski Bindings</a>
                    <a href="" class="dropdown-item text-secondary">Ski Poles</a>
                    <a href="" class="dropdown-item text-secondary">Ski Bags</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="mainnav-font font-weight-bold nav-link text-blue mr-5 text-uppercase" href="#" id="skiwear-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h6 class="m-0">Ski Wear</h6>
                </a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="skiwear-link">
                    <a href="" class="dropdown-item text-secondary">Jackets</a>
                    <a href="" class="dropdown-item text-secondary">Pants</a>
                    <a href="" class="dropdown-item text-secondary">Base Layer</a>
                    <a href="" class="dropdown-item text-secondary">Hats</a>
                    <a href="" class="dropdown-item text-secondary">Gloves</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="mainnav-font font-weight-bold nav-link text-blue mr-5 text-uppercase" href="#" id="accessories-link"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h6 class="m-0">Accessories</h6>
                </a>
                <div class="dropdown-menu border-0 text-capitalize" aria-labelledby="accessories-link">
                    <a href="" class="dropdown-item text-secondary">Helmets</a>
                    <a href="" class="dropdown-item text-secondary">Goggles</a>
                    <a href="" class="dropdown-item text-secondary">Bags</a>
                    <a href="" class="dropdown-item text-secondary">Tools</a>
                </div>
            </li>
        </ul>
    </div>
</div>