{% extends "base.html" %}
{% load static %}
<!-- widget_tweaks loaded to perform additional stying on widgets -->
{% load widget_tweaks %}
<!-- {% load crispy_forms_tags %} -->

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit Product: <strong>{{ product.name }}</strong></h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 ">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- {{ form | crispy }} -->
                    {% for field in form %}
                        {% if field.name == 'image1' or field.name == 'image2' %}
                            <div class="col-6 m-0 p-0">
                                {{ field }}
                            </div>
                        {% else %}
                        {{ field|as_crispy_field }}
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <button class="btn btn-blue rounded text-uppercase w-100 my-1" type="submit">Update Product</button>
                        </div>
                        <div class="col-12 col-md-6">
                            <a class="btn btn-outline-blue text-uppercase rounded w-100 my-1" href="{% url 'product_detail' product.id %}">Cancel</a>
                        </div> 
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- provide notification to user which file has been select for image widget -->
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}